@font-face {
  font-family: "RedHatText-Medium";
  src: local("RedHatText-Medium"),
    url(./fonts/RedHatText-Medium.ttf) format("truetype");
}

body {
  font-family: RedHatText-Medium;
  font-size: 14px;
  font-weight: 700px;
}
